body#checkout section.checkout-step .payment-options .payment-option {
    margin-bottom: 0.8rem;
}

body#checkout section.checkout-step .payment-options .payment-option img {
    width: 80px;
}

.zenkipay-crypto-btn {
    height: 60px;
    margin-bottom: 15px;
    max-width: 100%;
}

.zenkipay-form-container {
    position: relative;
}

div.payment_module {
    margin-bottom: 10px;
}

.zenkipay_title {
    margin-top: 0px;
}

.zenkipay_title img {
    float: none;
    margin-right: 8px;
    margin-top: -2px;
    vertical-align: middle;
}

div.zenkipay-payment-errors {
    margin: 0 0 10px 0;
    padding: 10px;
    border: 1px solid #900;
    font-size: 13px;
    background: #fcc;
    display: none;
}

.mt30 {
    margin-top: 30px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb10 {
    margin-bottom: 10px;
}

.disabled {
    cursor: not-allowed;
}

#zenkipay-container {
    position: relative;
}
